html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#interface{
	position:fixed;
	padding:10px;
	left:20px;
	top:2.5vh;
	background-color: #FFF;
	opacity: 0.98;
	width:300px;
	height:auto;
	overflow-y: hidden;
}

body{
	background-image: url("../assets/images/checker.png");
}

.halfScreenSelector{
	width:50%;
	height:100vh;
	float:left;
	margin:0;
	text-align: center;
	font-size: 40pt;
	color: #000;
	text-decoration: none;
}

.halfScreenSelector:hover{
	opacity: 0.5;
}

#patternLink{
	background-image: url("../assets/images/patternTile.png");
	background-repeat: repeat;
	background-position: right top;
}

#gridLink{
	background-image: url("../assets/images/gridTile.png");
	background-repeat: repeat;
	background-position: left top;
}