html {
  box-sizing: border-box;
  font-family:sans-serif;
  ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#interface{
	position:fixed;
	padding:15px;
	left:2.5vh;
	top:2.5vh;
	background-color: #FFF;
	opacity: 0.98;
	width:300px;
	height:95vh;
	overflow-y: hidden;
}

.percent50{
	width:50%;
	float:left;
}

.percent100{
	width:100%;
	float:left;
}

.labelled{
	float: left;
	margin-top: 20px;
}

.labelled label{
	float:left;
	width:100%;
	text-align: center;
}

.labelled input{
	float:left;
	width:100%;
}

#tile-scale-slider{
	width:80%;
}

#tile-scale-box{
	width:18%;
}



.centered{
	position:relative;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#interface select{
	margin-bottom: 5%;
}

#interface button{
	border: 1px;
	border-radius: 2px;
	margin-bottom: 5%;
	color:#222;
	font-size: 0.8em;
	text-transform: uppercase;

	width:45%;
}


#interface button:hover{
	background-color: #DDD;
}

.right{
	margin-left: 7.5%;
}

body{
	background-image: url("../assets/images/checker.png");
}

.halfScreenSelector{
	width:50%;
	height:100vh;
	float:left;
	margin:0;
	text-align: center;
	font-size: 40pt;
	color: #000;
	text-decoration: none;
}

.halfScreenSelector:hover{
	opacity: 0.5;
}

#patternLink{
	background-image: url("../assets/images/patternTile.png");
	background-repeat: repeat;
	background-position: right top;
}

#gridLink{
	background-image: url("../assets/images/gridTile.png");
	background-repeat: repeat;
	background-position: left top;
}