.pattern-display{
    position: fixed;
    top: 0;
    left: 0;
    z-index:-10;
    width:100vw;
    height:100vh;
}

.pattern-display__canvas{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}